name: Playwright Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: bankms
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    # Install Apache + PHP
    - name: Install Apache & PHP
      run: |
        sudo apt update
        sudo apt install -y apache2 php libapache2-mod-php php-mysql
        sudo systemctl start apache2

    # Wait for MySQL container
    - name: Wait for MySQL
      run: |
        sleep 15

    # Import database
    - name: Import SQL file
      run: |
        mysql -h 127.0.0.1 -P 3306 -u root -proot bankms < bankmsdb.sql

    # Copy PHP project
    - name: Deploy PHP project
      run: |
        sudo cp -r bankms /var/www/html/
        sudo chmod -R 755 /var/www/html/bankms
        sudo systemctl restart apache2

    # Setup Node
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install dependencies
      run: npm ci

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Wait for Server
      run: |
        sleep 5
        curl http://localhost/bankms

    - name: Run Playwright Test
      run: npx playwright test tests/userlogin.spec.ts

    - name: Upload Playwright HTML Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30

